.card-input-element {
  display: none;
}

.card-input {
  margin: 10px;
  padding: 00px;
  background-color: #fff;
  border: solid 1px rgb(201, 201, 201);
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panel-heading, .panel-body {
  padding: 5px;
}

.card-input:hover {
  cursor: pointer;
}

.card-input-element:checked + .card-input {
  box-shadow: 0 0 3px 3px #22744433;
 }

