* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(http://clipart-library.com/images_k/clock-image-transparent-background/clock-image-transparent-background-10.png);
  background-position: center;
  background-size: cover;
  font-family: 'Roboto';
}