.wrapper {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  .feedback {
    cursor: pointer;
    text-decoration: underline;
  }
  .is_done {
    background-color: rgb(230, 255, 228);
  }
  .clear_button {
    left: 50%;
  }
}


