.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  .feedback {
    cursor: pointer;
    text-decoration: underline;
  }
  .is_done {
    background-color: rgb(230, 255, 228);
  }
  .header_sort_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    .sort_arrow {
      margin-left: 10px;
      font-size: 10px;
    }
  }
  .filter_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    @media (max-width: 660px) {
      flex-direction: column;
    }
    .combine_filter_items {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      @media (max-width: 660px) {
        flex-direction: column;
        width: 300px;
      }
    }
    .form_item {
      margin: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .show_all {
      display: flex;
      flex-direction: row;
      align-items: center;
      p {
        margin: 0 10px 0 0;
      }
    }
  }
  .wrapper_orders_table {
    .orders_table {
      margin: 10px;
    }
  }
  .wrapper_pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }
}

