.wrapper {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  .feedback {
    cursor: pointer;
    text-decoration: underline;
  }
  .is_done {
    background-color: rgb(230, 255, 228);
  }
  .header_sort_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    .sort_arrow {
      margin-left: 10px;
      font-size: 10px;
    }
  }
  .filter_form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    .form_item {
      margin: 10px;
    }
    
  }
  .orders_table {
    width: 90%;
  }
}

.wrapper_radio_cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}