.wrapper_charts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  .diagram_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    .diagram_form_item {
      margin: 10px;
    }
  }
  .linechart_wrapper {
    display: flex;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
  }
  .wrapper_pie_charts {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    .pie_chart h2 {
      text-align: center;
      color: rgb(90, 90, 90);
    }
  }
  .wrapper_summary_table {
    .summary_table{
      margin: 10px;
    }
  }
}
