.order_wrapper, .orderForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  .field {
    width: 300px;
    height: 30px;
    text-align: center;
    border: none;
    border-bottom: solid 1px;
    outline: none;
    background: rgba(0, 0, 0, 0);
  }
  label {
    font-size: 20px;
    margin: 10px;
  }
  h1 {
    text-align: center;
    margin: 25px;
  }  
  .error {
    color: red;
  }
  .success {
    color: green;
  }
  .delivery_header {
    border-top: 1px solid black;
    width: 300px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .delivery_wrapper {
    height: 300px;
    width: 300px;
    margin: 5px;
    .map {
      height: 100%;
      width: 100%;
      border-radius: 5px;
    }
  }
  .choose_img_btn{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
