.header_background {
  background-color: rgba(201, 201, 201, 0.219);
  .header_wrapper {
    margin: 0 auto 0 auto;
    padding: 0 10px 0 10px;
    max-width: 1140px;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .links {
      font-family: Rubik;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #4F5665;
      :hover {
        cursor: pointer;
      }
    }
    .login_btns_wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .login_btn {
        font-family: Rubik;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #0B132A;
        :hover {
          cursor: pointer;
        }
      }
      .sign_up_btn {
        margin-left: 10px;
        padding: 10px;
        width: 150px;
        height: 45px;
        border: 1px solid #F53855;
        box-sizing: border-box;
        border-radius: 50px;
        text-align: center;
        font-family: Rubik;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        color: #F53855;
        :hover {
          cursor: pointer;
        }
        @media (max-width: 1080px) {
          margin-left: 30px;
        }
      }
      .hide {
        @media (max-width: 1080px) {
          display: none;
        }
      }
    }
    .header_logo {
      display: flex;
      align-items: center;
      p {
        font-family: Rubik;
        color: rgb(0, 0, 0);
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        padding-left: 10px;
        margin: 0;
      }
      .logo_png {
        width: 35px;
        height: 36.23px;
        background-image: url(./img/Vector.png);
      }
    }
  }
}

.selected_language {
  background-color: rgba(28, 125, 236, 0.521);
}

.country_flag {
  width: 20px;
}

