.chooseMasterForm, .chooseMaster_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.field {
  width: 250px;
  height: 30px;
  text-align: center;
  border: none;
  border-bottom: solid 1px;
  outline: none;
  background: rgba(0, 0, 0, 0);
}
label {
  font-size: 20px;
  margin: 10px;
}
Button {
  margin: 10px;
}
h1 {
  margin: 25px;
}  
.err_message {
  margin-top: 150px;
}